<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BoWaTi - Border Wait Times</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- TODO add manifest here -->

</head>
<body>

  <header class="header">
    <h1 class="header__title">BoWaTi - Border Wait Times</h1>
    <button id="butRefresh" class="headerButton" aria-label="Refresh"></button>
  </header>

  <main class="main">
    <%= yield %>
  </main>


</body>
</html>
